<nav class="bd-navbar navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item m-2 title is-3" href="/">
            DJQuiz
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/result">
                Result
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <button class="button is-danger" (click)="doLogout()">Logout</button>
            </div>
        </div>
    </div>
</nav>