<div class="container m-3 p-3">
    <div class="card ">
    
        <div class="card-content">
            <p class="title is-4">DJQuiz</p>
            <p class="subtitle is-6">Login here</p>

             <form [formGroup]="form" class="login-form py-5 w-100" (ngSubmit)="onSubmit()">
                <div class="notification is-danger" *ngIf="loginError">
                    {{loginError}}
                </div>
                <div class="columns pb-1">
                    <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" 
                    class="column notification is-danger ">
                    UserName is required
                </div>
                </div>
                <div class="columns pb-1">
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" 
                    class="column notification is-danger">
                        Password is required
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-one-quarter">Username</div>
                    <div class="column is-three-quarter">
                        <input class="input" id="login-username" type="text" formControlName="username" required>
                    </div>
                </div>
                <div class="columns">
                  
                    <div class="column is-one-quarter">password</div>
                    <div class="column is-three-quarter">
                        <input class="input" id="login-password" type="password" formControlName="password" required>
                    </div>
                </div>
                <input type="submit" value="Login" [disabled]="form.invalid" class="button is-primary">
            </form>
            <div class="container is-flex">
                <p class="subtitle is-5 mx-4 pt-2">New here ? </p>
                <a href="/register" class="button is-info">Register</a>
            </div>
        </div>
    </div>
</div>